.holds-the-iframe {
  background: url(../../assets/loader.gif) center center no-repeat;
}
.button-hidder {
  -ms-transform: rotate(270deg); /* IE 9 */
  transform: rotate(270deg);
  color: var(--black-000);
}
