.dashboard-card {
  box-shadow: var(--shadow-black-300);
  border-radius: 5px;
  width: 200px;
  height: 230px;
  margin: 10px;
  margin-left: 32px;
}
.project-name {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.demo-dashboard-card {
  box-shadow: var(--shadow-black-300);
  border-radius: 5px;
  width: 450px;
  margin: 10px;
  margin-left: 32px;
  justify-content: center;
  align-items: center;
}
